<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/app/components/pd-drawer/pd-drawer.html">

<dom-module id="pd-dashboard">
  <link rel="stylesheet" href="/app/css/main.css">
  <link rel="stylesheet" href="/app/css/position.css">
  <link rel="stylesheet" href="/app/css/font.css">
  <link rel="stylesheet" href="/app/css/skins/default/colors.css">
  <link rel="import" href="/app/css/skins/default/color-vars.css">
  <template>
    <pd-drawer>
      <div class="logo">Logo</div>
      <div class="left-menu p-t-1">
        Left
      </div>
      <div class="right-menu">
        Right
      </div>
      <div id="main">
        Main
      </div>
    </pd-drawer>
  </template>
</dom-module>

<script>
  Polymer({
    is: "pd-dashboard"
  });
</script>
